<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Form</title>
</head>
<body>
    <h3> Student Registration Form. </h3>
    <form th:action="@{/processStudentForm}" th:object="${student}" method="post">
        First Name: <input type="text" th:field="*{firstName}">
        <br><br>
        Last Name :  <input type="text" th:field="*{lastName}">
        <br><br>
        Country:
        <select th:field="*{country}" >
            <!-- <option th:value="India">India</option>
            <option th:value="USA">USA</option>
            <option th:value="China">China</option>
            <option th:value="UK">UK</option> -->
            <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"></option>
        </select>
        <br><br>
        Favouroite Programming Language:
        <!-- <input type="radio" th:field="*{favoriteLanguage}" th:value="GO">GO</input>
        <input type="radio" th:field="*{favoriteLanguage}" th:value="Java">Java</input>
        <input type="radio" th:field="*{favoriteLanguage}" th:value="Python">Python</input> -->
        <input type="radio" th:field="*{favoriteLanguage}" th:each="tempLanguage: ${languages}" th:value="${tempLanguage}" th:text="${tempLanguage}" />

        <br><br>
        <input type="submit" value="Submit">
        
    </form>
</body>
</html>